/* @import "./animations.scss"; */

/* * {
  box-sizing: border-box;
} */

body {
  margin: "0 0 0 0";
}

#root {
  display: flex;
  justify-content: center;
  
  background: url(/images/48-nice-green-gradient.jpg);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-color: #008c8c; */
  
  /* background: rgb(132,179,157); */
  
  /* background: linear-gradient(90deg, rgba(132,179,157,1) 57%, rgba(132,204,124,1) 100%); */
  
  /* background: 'black'; */
  margin: "0 0 0 0";
  min-height: 100vh;

}

/* @keyframes branches {
  0%   { stroke-dashoffset: 1000; }
  100% { stroke-dashoffset: 0; }
} */

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}