/* @import "./animations.scss"; */

* {
  box-sizing: border-box;
}

body {
  margin: 1rem;
}

#root {
  display: flex;
  justify-content: center;
}

/* @keyframes branches {
  0%   { stroke-dashoffset: 1000; }
  100% { stroke-dashoffset: 0; }
} */

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}